body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #e6f7ff, #f9f9f9);
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('../static/imagen_index.jpg');
}
/* Estilo para el título de Últimas Noticias */
.noticias h2 {
    color: rgb(255, 255, 255); 
}

/* Encabezado */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex; 
    justify-content: center;
    margin: 20px 0; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    padding: 10px 20px;
    margin: 0 15px; 
    background-color: #15a897; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    transform: translateY(-3px); 
    background-color: #5059d5; 
}

/* Contenedor principal */
main {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

/* Sección de contenido principal */
.contenido-principal {
    flex: 3; 
}

.noticias {
    padding: 20px;
}

.noticia {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

.noticia h3 {
    font-size: 1.5em;
}

.noticia img {
    max-width: 100%;
    height: auto;
}

/* Barra lateral */
.barra-lateral {
    flex: 1;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    position: sticky; 
    top: 20px; 
    align-self: flex-start; 
}


.video-container {
    margin-bottom: 20px;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}
