<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vida Saludable - Noticias</title>
    <link rel="stylesheet" href="static/estilo_noticia.css">
</head>
<body>

    <!-- Encabezado -->
    <header>
        <h1>Vida Saludable</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contactos">Contactanos</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenedor principal -->
    <main>
        <div class="contenido-principal">
            <!-- Sección de noticias -->
            <section class="noticias">
                <h2>Últimas Noticias</h2>
                <!-- Primera noticia -->
                <article class="noticia">
                    <h3>La Empresa Vida Saludable Introduce Tecnología de Realidad Aumentada para Entrenamientos Personalizados</h3>
                    <img src="static/imagen_noticia.webp" alt="Entrenador Personalizado con Tecnología de Realidad Aumentada" width="100%" height="auto"/>
                    <p>
                        La empresa  <strong>Vida Saludable</strong>, ha lanzado una innovadora herramienta de entrenamiento que utiliza tecnología de realidad aumentada (AR) para ofrecer sesiones personalizadas de fitness.
                    </p>
                </article>

                <!-- Segunda noticia -->
                <article class="noticia">
                    <h3>Nuevo Programa de Nutrición para Mejorar el Bienestar General</h3>
                    <img src="static/nutricion1.jpg" alt="Programa de Nutrición" width="100%" height="auto"/>
                    <p>
                        Vida Saludable lanza un nuevo programa de nutrición diseñado por expertos, que tiene como objetivo mejorar el bienestar general de sus usuarios.
                    </p>
                </article>

                <!-- Tercera noticia -->
                <article class="noticia">
                    <h3>Clases de Yoga Virtuales para Todos los Niveles</h3>
                    <img src="static/yoga.jpg" alt="Clases de Yoga" width="100%" height="auto"/>
                    <p>
                        Ahora puedes disfrutar de clases de yoga virtuales desde la comodidad de tu hogar. 
                    </p>
                </article>
            </section>
        </div>

        <!-- Barra lateral -->
        <aside class="barra-lateral">
            <h2>Videos</h2>
            <!-- Video 1 -->
            <div class="video-container">
                <h3>seras tan bueno como tu decidas serlo,siempre se mejor que ayer</h3>
                <video width="100%" height="200" controls>
                    <source src="static/video1.mp4" type="video/mp4">
                 </video>
            </div>
            <!-- Video 2 -->
            <div class="video-container">
                <h3>La forma mas hermosa de demostrar amor propio es tenido una vida saludable </h3>
                <video width="100%" height="200" controls>
                    <source src="static/video2.mp4" type="video/mp4">
                </video>
            </div>
            <!-- Video 3 -->
            <div class="video-container">
                <h3>nunca pares de aprender la vida nunca deja de enseñar. Por mas dificil que sea termina lo que empezaste</h3>
                <video width="100%" height="200" controls>
                    <source src="static/video3.mp4" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </div>
        </aside>
    </main>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 Vida Saludable. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
