<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Recibidos</title>
    <link rel="stylesheet" href="static/estilo_salida.css"> <!-- Vinculación a CSS -->
</head>
<body>
    <div class="container"> <!-- Contenedor para el contenido -->
        <h1>DATOS RECIBIDOS FORMULARIO</h1>
        <p>Los datos recibidos son:</p>
        <p>Nombre: {{nombre}}</p> <!-- Muestra el nombre recibido -->
        <p>Correo Electrónico: {{email}}</p> <!-- Muestra el correo electronico recibido -->
        <p>Mensaje de Usuario: {{mensaje}}</p> <!-- Muestra el Mensaje recibido -->
        <p><a href="/" class="back-button">Volver</a></p> <!-- Enlace que permite regresar a la página de inicio -->
    </div>
</body>
</html>
