<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="static/estilo_servicios.css"> 
</head>
<body>
    <!-- Título Principal -->
    <h1>Nuestros Servicios</h1>

    <div class="services-container">
        <!-- Servicio 1: Entrenamiento Personalizado -->
        <div class="service">
            <h2>Entrenamiento Personalizado</h2>
            <img src="static/entrenado1.png" alt="Imagen del Servicio 1">
            <p>
                En la empresa Vida Saludable, creemos que cada persona es única, por lo que ofrecemos programas
                de entrenamiento totalmente personalizados...
            </p>
        </div>

        <!-- Servicio 2: Seguimiento Individualizado -->
        <div class="service">
            <h2>Seguimiento Individualizado</h2>
            <img src="static/entrenado2.png" alt="Imagen del Servicio 2">
            <p>
                Entendemos que la motivación y el compromiso son claves para el éxito en cualquier programa ...
            </p>
        </div>

        <!-- Servicio 3: Asesoramiento Nutricional -->
        <div class="service">
            <h2>Asesoramiento Nutricional</h2>
            <img src="static/nutricionista1.png" alt="Imagen del Servicio 3">
            <p>
                La nutrición es un componente fundamental para lograr resultados duraderos en el fitness ...
            </p>
        </div>
    </div>

    <!-- Enlace para regresar a la página principal -->
    <a class="back-button" href="/">Volver</a>
    <a class="back-button" href="/contactos">contactanos</a>

</body>
</html>
